@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectStructure.Domain.Models.Person

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Details</h2>
@if (ViewBag.Error != null)
{
    <h3 class="text-danger">@ViewBag.Error</h3>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="FirstName">First Name:</label>
                <input id="FirstName" type="text" class="form-control" value="@Model.FirstName" readonly />
            </div>
            <div class="form-group">
                <label for="LastName">Last Name:</label>
                <input id="LastName" type="text" class="form-control" value="@Model.LastName" readonly />
            </div>
            <div class="form-group">
                <label for="DateOfBirth">Date of Birth:</label>
                <input id="DateOfBirth" type="text" class="form-control" value="@Model.DateOfBirth.ToShortDateString()" readonly />
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input id="PhoneNumber" type="text" class="form-control" value="@Model.PhoneNumber" readonly />
            </div>
            <div class="form-group">
                <label for="BirthPlace">Birth Place:</label>
                <input id="BirthPlace" type="text" class="form-control" value="@Model.BirthPlace" readonly />
            </div>
            <div class="form-group">
                <label for="IsGraduated">Is Graduated:</label>
                <input id="IsGraduated" type="text" class="form-control" value="@(Model.IsGraduated==true ? "Yes" : "No")" readonly />
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <input id="Gender" type="text" class="form-control" value="@Model.Gender" readonly />
            </div>
            <button id="deleteBtn" onclick="deletePerson('@Model.Id')" class="btn btn-danger">Delete</button>
        </div>
    </div>
}


@section Scripts {
    <script>
        function deletePerson(id) {
            var confirmDelete = confirm("Are you sure you want to delete this person?");
            if (confirmDelete) {
                $.ajax({
                    url: '/NashTech/Rookie/Delete',
                    type: 'DELETE',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '/NashTech/Rookie/Index';
                        } else {
                            alert('Delete failed');
                        }
                    }
                });
            }
        }
    </script>
}
