@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectStructure.Domain.Models.Person

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Person</h2>

<form asp-area="NashTech" asp-action="Edit" asp-controller="Rookie" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsGraduated">Is Graduated?</label>
        <select asp-for="IsGraduated" class="form-control">
            <option value="true" >Yes</option>
            <option value="false" >No</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthPlace">Birth Place</label>
        <input asp-for="BirthPlace" class="form-control" value="@Model.BirthPlace" />
        <span asp-validation-for="BirthPlace" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Gender">Gender:</label>
        <select id="Gender" class="form-control" asp-for="Gender" >
            @foreach (var genderType in ViewBag.GenderTypes)
            {
                <option  value="@genderType">@genderType</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save Change</button>
</form>
