@model IEnumerable<ProjectStructure.Domain.Models.Person>
@{
    var prevDisabled = ViewBag.CurrentPage == 1 ? "disabled" : "";
    var nextDisabled = ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "";
    var startPage = Math.Max(1, ViewBag.CurrentPage - 2);
    var endPage = Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2);
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List all people</h1>

@Html.Partial("_TablePeople", Model)
<nav>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">Prev</a>
        </li>
        @if (startPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = 1, pageSize = ViewBag.PageSize })">1</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        }
        @for (var i = startPage; i <= endPage; i++)
        {
            var active = i == ViewBag.CurrentPage ? "active" : "";
            <li class="page-item @active">
                <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
            </li>
        }
        @if (endPage < ViewBag.TotalPages)
        {
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages, pageSize = ViewBag.PageSize })">@ViewBag.TotalPages</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })">Next</a>
        </li>
    </ul>
</nav>

<br/>
<br/>
<a asp-area="NashTech" asp-controller="Rookie" asp-action="ExportToExcel" class="btn btn-primary">Export to Excel</a>

